<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace에는 패키지명 + 메퍼 파일명까지  -->
<mapper namespace="com.petcheck.mapper.MemberMapper">
	<insert id="memberJoin" parameterType="com.petcheck.entity.Member">
		INSERT INTO t_member (id, pw, nick, admin_yn, joindate) 
		VALUES (#{id}, #{pw}, #{nick}, 'N', NOW());
	</insert>
	
	<update id="updateInfo" parameterType="com.petcheck.entity.Member">
		update t_member set pw=#{pw}, nick=#{nick} where idx=#{idx}
	</update>
	
	<delete id="deleteInfo" parameterType="com.petcheck.entity.Member">
		delete from t_member where idx=#{idx}
	</delete>
	
	<select id="login" parameterType="com.petcheck.entity.Member" resultType="com.petcheck.entity.Member">
		select * from t_member where id=#{id} and pw=#{pw}
	</select>
	
	<select id="checkInfo" parameterType="int" resultType="com.petcheck.entity.Member"> 
		select * from t_member where idx=#{idx};
	</select>
	
	<select id="idCheck" parameterType="String" resultType="int">
		select count(*) from t_member where id=#{id};
	</select>
	
	<select id="invitationList" parameterType="com.petcheck.entity.Member" resultType="com.petcheck.entity.InviteVO">
		select * from invitation where receiver=#{id};
	</select>
	
	<select id="memberList" resultType="com.petcheck.entity.Member">
		select * from t_member;
	</select>
	
</mapper>
