.scrollable-container {
	overflow-y: scroll;
	height: 520px;
}

.guest-box-container {
    margin: 20px;
    overflow-y: auto;
}


.guest-box{
    width: 100%;
    margin-bottom: 50px;
}


.guest-box-title{
    background-color: rgb(230, 230, 230);
    padding: 5px;
} 


.guest-box-content {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    justify-content: space-evenly;
}


.guest-img {
    background-size: cover;
    height: 100%;
    flex: 0.3;
}


.guest-img img {
    width: 50%;
    /*이미지 가운데 정렬*/
    display: block;
    margin: 0 auto;
}


/* .guest1 {
    background-image: url("./images/background1.jpeg");
}


.guest2 {
    background-image: url("./images/background2.jpeg");
}


.guest3 {
    background-image: url("./images/background3.jpeg");
}


.guest4 {
    background-image: url("./images/background4.jpg");
} */


.guest-text {
    padding: 10px;
    flex: 1;
}


.add-button {
    display: block;
    width: 35%;
    margin: 0 auto;
}


.add-button button {
    border: none;
    background-color: #b4d1da;
    padding: 10px;
    cursor: pointer;
}

.guestbook-image {
  flex: 0 0 10rem;
  height: 10rem;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.background-0 {
  background-image: url('./images/team1.jpg');
}
.background-1 {
  background-image: url('./images/1.jpg');
}
.background-2 {
  background-image: url('./images/2.png');
}
.background-3 {
  background-image: url('./images/3.png');
}
.background-4 {
  background-image: url('./images/cat4.png');
}
.background-5 {
  background-image: url('./images/cat5.png');
}
.background-6 {
  background-image: url('./images/cat6.png');
}
.background-7 {
  background-image: url('./images/cat7.png');
}
.background-8 {
  background-image: url('./images/cat8.png');
}
.background-9 {
  background-image: url('./images/cat9.png');
}
.background-10 {
  background-image: url('./images/cat10.png');
}

.guestbook-image > img {
  width: 80%;
}

