@charset "UTF-8";

@font-face {
   font-family: 'RIDIBatang';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}

* {
   font-family: 'RIDIBatang';
}

body {
   background-color: #FFFAF3;
   font-family: 'RIDIBatang';
}

a, h1, p {
   font-family: 'RIDIBatang';
}

.main {
   font-family: 'RIDIBatang';
   background-color: #FFFFFF;
   width: 500px;
   height: 600px;
   margin: 7em auto;
   border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

 /* 마이페이지.css */ 
.Mypage_main {
   font-family: 'RIDIBatang';
   background-color: #FFFFFF;
   width: 800px;
   height: 730px;
   margin: 7em auto;
   border-radius: 1.5em;
   box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
} 
.modify{
   padding: 30px 200px 0px 350px;
   color: #d7b0bb;
   font-family: 'RIDIBatang';
   font-weight: bold;
   font-size: 23px;
}

.sign {
   padding: 50px 170px 0px 180px;
   color: #d7b0bb;
   font-family: 'RIDIBatang';
   font-weight: bold;
   font-size: 23px;
}

.sign-in {
   padding: 60px 200px 30px 210px;
   color : #d7b0bb;
   font-family: 'RIDIBatang';
   font-weight: bold;
   font-size: 23px;
   color: #d7b0bb;
}

.apilogin {
   color: #fff;
}

.un {
   width: 76%;
   margin: 0px 60px 10px 60px;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.04);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   text-align: center;
   font-family: 'RIDIBatang';
}

/* 마이페이지 css */
.mypageID {
   width: 300px;
   margin: 0px 60px 10px 60px;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.04);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   text-align: center;
   font-family: 'RIDIBatang';
}

.id {
   margin: 0px 60px 30px 60px;
   width: 76%;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.04);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   text-align: center;
   font-family: 'RIDIBatang';
}

.password {
   margin: 0px 60px 30px 60px;
   width: 76%;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.04);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   text-align: center;
   font-family: 'RIDIBatang';
}

.nick {
   margin: 0px 60px 30px 60px;
   width: 76%;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.04);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   text-align: center;
   font-family: 'RIDIBatang';
}

form.form1 {
   padding-top: 20px;
   padding-bottom: 10PX;
}

.pass {
   margin: 0px 60px 10px 60px;
   width: 76%;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.04);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   text-align: center;
   font-family: 'RIDIBatang';
}

.un:focus, .pass:focus {
   border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.success {
   margin: 0px 60px 30px 60px;
   width: 76%;
   color: #fff;
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: linear-gradient(to right, #e6c3cd, #e6c3cd);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   text-align: center;
   font-family: 'RIDIBatang';
   display: inline-block;
}

.submit {
   margin: 0px 60px 5px 60px;
   width: 76%;
   color: #fff;
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: linear-gradient(to right, #e6c3cd, #e6c3cd);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   text-align: center;
   font-family: 'RIDIBatang';
   display: inline-block;
}

.joinus {
    margin: 30px 60px 30px 60px;
    opacity: 0.9;
    top: 660px;
    position: absolute;
    width: 380px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: #E8E4E4;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    font-family: 'RIDIBatang';
    display: block;
}

.back {
   margin: 0px 60px 30px 60px;
   opacity: 0.9;
   width: 76%;
   color: #fff;
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: #E8E4E4;
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   text-align: center;
   font-family: 'RIDIBatang';
   display: inline-block;
}

/* ----간편로그인/회원가입-----*/
.intro-1 {
   font-size: 15px;
   padding: 10px 80px 10px 80px;
   text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
   color: #e6c3cd;
}

/* 아직 회원이 아니신가요? */
.intro-2 {
    font-size: 15px;
    display: block;
    position: absolute;
    top: 630px;
    padding: 10px 130px 10px 140px;
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #e6c3cd;
}

img {
   border:0px;
   content: "";
/*    position: absolute; */
   width: 55px;
}


img.kakao {
	display: inline-block;
    top: 0px;
    position: absolute;
    left: 80px;
}

img.naver {
	display: inline-block;
    top: 0px;
    position: absolute;
    right: 480px;
}


.kakaonaver {
    top: 0px;
    left: 200px;
    right: 400px;
    position: relative;
}
.naverlogo {
/*    position: absolute; */
   display: inline-block;
   top: 550px;
   left: 800px;
   padding: 10px 20px 20px 170px;
}

.kakaologo {
/*    position: absolute; */
   display: inline-block;
   top: 550px;
   left: 750px;
   padding: 10px 170px 20px 20px;
}


@media ( max-width : 600px) {
   .main {
      border-radius: 0px;
   }
   
   

   
}