@charset "UTF-8";

body {
	background-color: rgb(255, 250, 243);
}

.checkbtn > .btn-hover color-10{
	top: 25px;
}

p.available {
	font-size:14px;
}

#root {
	height:800px;
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
}

p.copy {
	font-size: 25px;
}

.col {
    display: inline-block;
    position: absolute;
    top: -20px;
    width: 1600px;
    left:0;
    height: 800px;
    margin-top: 20px;
}

.video{
    width: 700px;
    position: absolute;
    display: block;
    left: 260px;
    
	
}

.mainbtn {
    position: absolute;
    top: 280px;
    height: 100px;
    width: 410px;
    margin: 1px 45px;
    padding: 10px 10px 10px 10px;
    bottom: 400px;
    left: 0px;
    right: 80px;
}

col {
	height: 800px;
}

.checkbtn {
	display: inline-block;
    position: absolute;
    top: 330px;
    left: 280px;
}
.title {
	text-align: center;
}

.contents {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.contents .upload-box {
	width: 100%;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contents .upload-box .drag-file {
	position: relative;
	width: 100%;
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px dashed #dbdbdb;
}

.contents .upload-box .drag-file.highlight {
	border: 3px dashed red;
}

.contents .upload-box .drag-file .image {
	width: 40px;
}

.contents .upload-box .drag-file .message {
	margin-bottom: 0;
}

.contents .upload-box .drag-file .preview {
	display: none;
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	height: 100%;
}

.contents .upload-box .file-label {
	margin-top: 30px;
	background-color: rgb(255, 128, 128);
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 65%;
	border-radius: 6px;
	cursor: pointer;
}

.content-lg container .serviceIntro {
	text-align: center;
}

@media screen and (width: 600px) {
  body {
    font-size: 16px;
    color: red;
  }
}